# -*- coding: utf-8 -*-
"""
Created on Sat Jun 13 22:44:29 2020

@author: Nate
"""


<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <div class="field">
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ field(placeholder=field.label.text) }}
        </div>
    {% endfor %}
</form>